/* Global CSS */

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0
}

:root{
    --primary: #5e3bee;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
}

/* Global CSS ends */
/* Main headings */

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
