.portfolio--section {
    display: flex;
    padding: 50px 85px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.portfolio--container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.portfolio--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.3px;
}

.portfolio--section--container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

.portfolio--section--img {
    border-radius: 8px;
    width: 100%;
}

.portfolio--section--img>img {
    border-radius: 8px;
    width: 100%;
    object-fit: contain;
}

.portfolio--section--card {

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-width: 400px;
    text-decoration: none;
    color: black;
}

.portfolio--section--card--content {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.portfolio--section--title {
    color: var(--heading-color);
}

.portfolio--link {
    text-decoration: none;
    display: flex;
    gap: 16px;
    border-bottom: 1.33px solid var(--primary);
    padding-bottom: 10.6px;
    font-weight: 600;
}

.portfolio--section--card:hover path {
    stroke: #006b6a;
}

.text-md {
    font-size: 15px;
}

.btn-github {
    color: black;
    background-color: var(--white);
    border: var(--heading-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
    gap: 16px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-github>img {
    width: 50px;
    object-fit: contain;
}

.btn-github:hover {
    color: var(--heading-color);
    background-color: var(--bg-shade);
}